ALTER TABLE public.gigs ADD COLUMN IF NOT EXISTS questions JSONB DEFAULT '[]'::jsonb;
ALTER TABLE public.gigs ADD COLUMN IF NOT EXISTS require_answers BOOLEAN DEFAULT true;
ALTER TABLE public.gig_applications ADD COLUMN IF NOT EXISTS answers JSONB DEFAULT '[]'::jsonb;
