
ALTER TABLE public.wb_media ADD COLUMN IF NOT EXISTS folder_path text DEFAULT '/';

CREATE TABLE IF NOT EXISTS public.wb_form_submissions (
  id          uuid        PRIMARY KEY DEFAULT gen_random_uuid(),
  site_id     uuid        REFERENCES public.wb_sites(id) ON DELETE CASCADE NOT NULL,
  form_name   text        DEFAULT 'Contact Form',
  data        jsonb       NOT NULL DEFAULT '{}'::jsonb,
  is_read     boolean     DEFAULT false,
  created_at  timestamptz DEFAULT now() NOT NULL
);

ALTER TABLE public.wb_form_submissions ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Site team can manage form submissions" ON public.wb_form_submissions FOR ALL USING (
  EXISTS (
    SELECT 1 FROM public.wb_sites s 
    WHERE s.id = wb_form_submissions.site_id 
      AND (
        s.owner_id = auth.uid() 
        OR EXISTS (
          SELECT 1 FROM public.wb_site_subscribers sub 
          WHERE sub.site_id = s.id AND sub.user_id = auth.uid() AND sub.role IN ('admin', 'editor')
        )
      )
  )
);

